{% extends 'src/base.html' %}
{% block title %}Assessment - Add{% endblock %}

{% block main_content %}

</br>
{% include 'src/form_error.html' %}

<div class="container-sm">
  <div class="card">
  <div class="card-header bg-info"><h3 class="card-title">Add New GM Assessment</h3></div>

  <form action="{% url 'assessment-add' patient.id file.id %}" method="POST">
    {% csrf_token %}

    <div class="card-body">

      <div class="form-group row">
        <label class="col-form-label col-sm-2">Patient : </label>
        <div class="col-sm">{{patient.baby_name}}</div>
      </div>

      <div class="form-group row">
        <label class="col-form-label col-sm-2">Title : </label>
        <div class="col-sm">{{file.caption}}</div>
      </div>

      <div class="form-group row d-flex align-items-center">
        <label class="col-form-label col-sm-2">Current Age : </label>
        <div class="col-sm-10">{{file.patient.getCurrentAge}}</div>
      </div>

      <div class="form-group row d-flex align-items-center">
        <label class="col-form-label col-sm-2">Corrected Age : </label>
        <div class="col-sm-10">{{file.patient.getCorrectedAge}}</div>
      </div>

      <div class="form-group row">
        <label class="col-form-label col-sm-2">Date of Assessment : </label>
        <div class="col-sm">
          <div class=" d-flex align-items-center">
            <div>{{form.date_of_assessment}}</div>
            &nbsp; &nbsp; <div><a href="#"><span class="fa fa-question-circle" data-toggle="tooltip" data-original-title="Next assessment date if planing to follow up ..."></span></a></div>
            </div>
        </div>
      </div>

      <div class="form-group row align-items-top">
        <label class="col-form-label col-sm-2">Diagnosis : </label>
        <div class="col-sm">
        <div id="accordion">
          <div class="card">
          <div class="card-header">
          <h4 class="card-title w-100">
          <a class="d-block w-100" data-toggle="collapse" href="#collapseOne" aria-expanded="true">
            <i class="fas fa-eye" style="color: #00328a;"></i> &nbsp; &nbsp; Click here to see diagnosis list...
          </a>
          </h4>
          </div>
          <div id="collapseOne" class="collapse hide" data-parent="#accordion" style="">
          <div class="card-body">
            <div class="col-sm">{{form.diagnosis}}
            </div>
            <div class="col-sm"><input type="checkbox" id="checkbox_dx" name="checkbox_dx" onchange="toggleDiagnosis()"><label for="checkbox"> Other</label></div>
            
          </div>
          </div>
          </div>
          </div>
          </div>
      </div>

      <div id="container_dx" style="display: none;">
      <div class="form-group row">
        <label class="col-form-label col-sm-2">Diagnosis Other : </label>
        <div class="col-sm">{{form.diagnosis_other}}</div>
      </div>
      </div>

      <div id="container_dx">
      <div class="form-group row">
        <label class="col-form-label col-sm-2">Diagnosis Conclusion : </label>
        <div class="col-sm">{{form.diagnosis_conclusion}}</div>
      </div>
      </div>
      
      <div class="form-group row">
        <label class="col-form-label col-sm-2">Next Assessment Date : </label>
        <div class="col-sm">
          <div class=" d-flex align-items-center">
            <div>{{form.next_assessment_date}}</div>
            &nbsp; &nbsp; <div><a href="#"><span class="fa fa-question-circle" data-toggle="tooltip" data-original-title="Select next assessment date if plan to follow up further..."></span></a></div>
            </div>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-form-label col-sm-2">Managment Plan : </label>
        <div class="col-sm">{{form.managment_plan}}</div>
      </div>

      <div class="form-group row">
        <label class="col-form-label col-sm-2">Parent Infomed : </label>
        <div class="col-sm">{{form.parant_informed}}</div>
      </div>

      <div class="form-group row">
        <label class="col-sm-2 col-form-label"></label>
        <div class="col-sm"><button type="submit" class="btn btn-primary float-right">Add Assessment</button></div>
      </div>

      </br>
    </div>

  </form>

  <!-- /.card-body -->
  </div>
  <!-- /.card -->
</div>


<!-- JavaScript code -->
<script>

  function toggleis_assessment_completed() {
    var checkbox = document.getElementById("is_assessment_completed");
    var textboxContainer = document.getElementById("container_ass_complt");

    if (checkbox.checked) {
      textboxContainer.style.display = "block";
    } else {
      textboxContainer.style.display = "none";
    }
  }

  function toggleis_discharged() {
    var checkbox = document.getElementById("is_discharged");
    var textboxContainer = document.getElementById("container_discharge");

    if (checkbox.checked) {
      textboxContainer.style.display = "block";
    } else {
      textboxContainer.style.display = "none";
    }
  }

  function toggleDiagnosis() {
    var checkbox = document.getElementById("checkbox_dx");
    var textboxContainer = document.getElementById("container_dx");

    if (checkbox.checked) {
      textboxContainer.style.display = "block";
    } else {
      textboxContainer.style.display = "none";
    }
  }

</script>


{% endblock main_content %}