{% extends 'src/base.html' %}
{% load static %}
{% block title %}General Movement Assessment - View{% endblock %}
{% block main_content %}

</br>

<div class="container-sm">
<div class="card">
<div class="card-header bg-info"><h3 class="card-title">General Movement Assessment</h3></div>

{% if assessment.is_discharged %}<div class="ribbon-wrapper ribbon-xl"><div class="ribbon bg-dark text-lg">Discharged</div></div>{% endif %}

<div class="card-body">

    <div class="form-group row d-flex align-items-center">
        <label class="col-sm-2 col-form-label">Name of Baby : </label>
        <div class="col-sm-10">{{assessment.patient.baby_name}}</div>
    </div>

    <div class="form-group row d-flex align-items-center">
      <label class="col-form-label col-sm-2">Video : </label>
      <div class="col-sm-10">
        {% if assessment.video_file and assessment.video_file.id %}
        <a href="{% url 'video:view' assessment.video_file.id %}" target="_blank" data-toggle="tooltip" data-placement="top" title="Play this video in another window..."> {{assessment.video_file.caption}} <i class="fas fa-play-circle" style="color: #0752d5;"></i></a>
        {% else %}
        No video associated
        {% endif %}
    </div>
    </div>

    <div class="form-group row d-flex align-items-center">
      <label class="col-form-label col-sm-2">Date of Assessment : </label>
      <div class="col-sm-10">{{assessment.date_of_assessment}}</div>
    </div>

    <div class="form-group row d-flex align-items-center">
      <label class="col-form-label col-sm-2">Age of Assessment : </label>
      <div class="col-sm-10">{{assessment.getAssessmentAge}}</div>
    </div>

    <div class="form-group row d-flex align-items-top">
    <label class="col-form-label col-sm-2">Diagnosis : </label>
    <div class="col-sm-10">
        {% if assessment.isDiagnosisNormal %}
        Normal
        {% else %}
        <ul>{% for dx in assessment.diagnosis.all %}<li>{{dx.title}}</li>{% endfor %}</ul>
        {% endif %}
    </div>
    </div>

    <div class="form-group row d-flex align-items-center">
        <label class="col-form-label col-sm-2">Managment Plan : </label>
        <div class="col-sm-10">{{assessment.managment_plan}}</div>
    </div>

    <div class="form-group row d-flex align-items-center">
        <label class="col-form-label col-sm-2">Diagnosis Conclusion : </label>
        <div class="col-sm-10">{{assessment.diagnosis_conclusion}}</div>
    </div>

    <div class="form-group row d-flex align-items-center">
        <label class="col-form-label col-sm-2">Next Assessment Date : </label>
        <div class="col-sm-10">{{assessment.next_assessment_date}}</div>
    </div>

    <div class="form-group row d-flex align-items-center">
        <label class="col-form-label col-sm-2">Patient Informed : </label>
        <div class="col-sm-10">{{assessment.parant_informed}}</div>
    </div>

    <div class="form-group row d-flex align-items-center">
        <label class="col-form-label col-sm-2">Created by : </label>
        <div class="col-sm-10">{{assessment.added_by}}</div>
    </div>

    <div class="form-group row d-flex align-items-center">
        <label class="col-form-label col-sm-2">Created on : </label>
        <div class="col-sm-10">{{assessment.created_at}}</div>
    </div>

    {% if assessment.last_edit_by %}
        <div class="form-group row d-flex align-items-center">
            <label class="col-form-label col-sm-2">Edited by : </label>
            <div class="col-sm-10">{{assessment.last_edit_by}}</div>
        </div>

        <div class="form-group row d-flex align-items-center">
            <label class="col-form-label col-sm-2">Edited on : </label>
            <div class="col-sm-10">{{assessment.updated_at}}</div>
        </div>
    {% endif %}
    

<hr>

    <div class="row justify-content-end align-items-center">

        <div class="col-auto m-2">
          <a class="btn btn-primary" href="{% url 'view-patient' assessment.patient.id %}" type="button"><i class="right fas fas fa-eye"></i>  View Patient</a>
        </div>

        <div class="col-auto m-2">
          <a class="btn btn-primary" href="{% url 'assessment-manager-patient' assessment.patient.id %}" type="button"><i class="right fas fa-eye"></i>  View All Assessment</a>
        </div>

        <div class="col-auto m-2">
          <a class="btn btn-primary" href="{% url 'assessment-delete_start' assessment.id %}" type="button"><i class="right far fa-trash-alt"></i>  Delete</a>
        </div>
        
        <div class="col-auto m-2">
          <a class="btn btn-primary" href="{% url 'assessment-edit' assessment.id %}" type="button"><i class="fas fa-pencil-alt"></i>  Update Assessment' Details</a>
        </div>

        {% if bookmark %}
        <a class="btn btn-primary" href="{% url 'bookmark-view' bookmark.id %}" type="button"><i class="fas fa-eye"></i> View Bookmark</a>
        {% else %}
        <a class="btn btn-primary" href="{% url 'bookmark-add' assessment.id 'Assessment' %}" type="button"><i class="fas fa-circle fa-plus"></i>  Add to Bookmark</a>
        {% endif %}


    </div>
    </div>


</div>
<!-- /.card-body -->

</div> <!-- /.main container -->
{% endblock main_content %}