{% if patients_page_obj %}

{{patients_page_obj.User.id}}

  <div class="card">
    <div class="card-header bg-info">
    <h3 class="card-title">Patients Manager</h3>
    </div>
    <div class="card-body table-responsive p-0">
     <table class="table table-hover text-nowrap">
    <thead>
    <tr>
    <th>Index</th>
    <th>BHT</th>
    <th>Clinic No</th>
    <th>Babys Name</th>
    <th>Gender</th>
    <th>Date of birth</th>
    <th>Added by</th>
    <th>Added on</th>
    <th>Actions</th>
    </tr>
    </thead>
    <tbody>

      {% for Patient in patients_page_obj %}
    <tr>
      <td>{{ Patient.id }}</td>
      <td>{{ Patient.bht }}</td>
      <td>{{ Patient.clinic_no }}</td>
      <td>{{ Patient.baby_name }}</td>
      <td>{{ Patient.gender }}</td>
      <td>{{ Patient.dob_tob }}</td>
      <td>{{ Patient.added_by }}</td>
      <td>{{ Patient.added_on }}</td>

      {% comment %} <td data-toggle="tooltip" title='Active Status'>{% if Patient.is_active == True %}<div>Active</div>{% else %}<div>Inactive</div>{% endif %}</td> {% endcomment %}
      
      <td>
        <div class=" btn-group" role="group">
          <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="false" aria-expanded="true">
            Actions
          </button>
          <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
            <a class="dropdown-item" href="{% url 'view-patient' Patient.id %}"><i class="fas fa-eye"></i> View Patient</a>
            <a class="dropdown-item" href="{% url 'edit-patient' Patient.id %}"><i class="fas fa-pencil-alt"></i> Modify Infomations</a>
            <a class="dropdown-item" href="#"><i class="fas fa-circle fa-plus"></i> Add record</a>
            <a class="dropdown-item" href="#"><i class="fas fa-circle fa-plus"></i> Add Video</a>
            <a class="dropdown-item" href="{% url 'delete-confirm-patient' Patient.id %}"><i class="far fa-trash-alt"></i> Delete Patient</a>
          </div>
        </div>
      </div>
    </td>

    </tr>
    </tbody>

    {% endfor %}

    </table>
    </div>
    </div>

</div>

</br>

<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
  <li>
    {% if patients_page_obj.has_previous %}
      <li class="page-item"> <a class="page-link" href="?page=1" tabindex="-1">&laquo; First</a>
      <li class="page-item"> <a class="page-link" href="?page={{ patients_page_obj.previous_page_number }}" tabindex="-1">Previous</a></li>
    {% else %}
      <li class="page-item disabled"> <a class="page-link" href="#" tabindex="-1">&laquo; First</a>
      <li class="page-item disabled"> <a class="page-link" href="#" tabindex="-1">Previous</a> </li>
    {% endif %}
  
    <li class="page-item"><a class="page-link">Page {{ patients_page_obj.number }} of {{ patients_page_obj.paginator.num_pages }}</a></li>
  
    {% if patients_page_obj.has_next %}
      <li class="page-item"><a class="page-link" href="?page={{ patients_page_obj.next_page_number }}">Next</a></li>
      <li class="page-item"><a class="page-link" href="?page={{ patients_page_obj.paginator.num_pages }}">Last &raquo;</a></li>
    {% else %}
      <li class="page-item disabled"><a class="page-link" href="#">Next</a></li>
      <li class="page-item disabled"><a class="page-link" href="#">Last &raquo;</a></li>
    {% endif %}
  
  </li>
  </ul>
  </nav>

{% else %} 
<div class="alert alert-primary" role="alert">No records found</div>
{% endif %}