<div class="card">
  <div class="card-header 
  
  {% if patient.isNewPatient %}{% else %}

  {% if patient.isDischarged %}alert-dark{% else %}
  {% if patient.isDiagnosed %}alert-danger{% else %}alert-success{% endif %}
  {% endif %}

  {% endif %}
  
  ">
    <div class="container">
      <div class="row">
        <div class="col-sm">BHT No : <b>{{patient.bht|default_if_none:"---"}}</b></div>
        <div class="col-sm">NNC No : <b>{{patient.nnc_no|default_if_none:"---"}}</b></div>
        <div class="col-sm">PHN : <b>{{patient.pin|default_if_none:"---"}}</b></div>
        <div class="col-sm">CDIC No : <b>{{patient.ptc_no|default_if_none:"---"}}</b></div>
        <div class="col-sm">PHN : <b>{{patient.pin|default_if_none:"---"}}</b></div>
        <div class="col-sm">PC No : <b>{{patient.pc_no|default_if_none:"---"}}</b></div>
        <div class="col-sm">Disk No : <b>{{patient.disk_no|default_if_none:"---"}}</b></div>
        <div class="col-sm">Baby : <b>{{patient.baby_name|default_if_none:"---"}}</b></div>
        <div class="col-sm">Mother : <b>{{patient.mother_name|default_if_none:"---"}}</b></div>
      </div>
    </div>
  </div>
</div>
