venv
media
staticfiles/

# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/


#Ignore vscode AI rules
.github\instructions\codacy.instructions.md
logs/security.log
logs/django.log
logs/django.log
nul
