{% extends './basic_plane.html' %}
{% load static %}
{% block mainbody %}

{% if user.is_authenticated  %} <!-- to show Sidebar if loged users only -->

<div class="wrapper">
        <!-- Navbar -->
        {% include './navbar.html' %}
        <!-- /.navbar -->

        <!-- Main Sidebar Container -->
        {% include './main_sidebar_menu.html' %}
        <!-- /.sidebar -->

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    {% comment %} {% include './content_headder.html' %} {% endcomment %}
    <!-- /.content-header -->

    <!-- Main content -->
    <div class="content">

      <!-- Message display -->
      {% include 'src/messages.html' %}
      {% comment %} {% include './main_content.html' %} {% endcomment %} 

      {% block main_content %}
      <!-- Main content goes here-->

      {% endblock main_content %}
      
    </div>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <!-- Control Sidebar -->
  {% comment %} {% include './content_headder.html' %} {% endcomment %}
  <!-- /.control-sidebar -->

  <!-- Main Footer -->
  {% include './main_footer.html' %}
</div>
<!-- /.wrapper -->

{% endif %}

{% endblock mainbody %}
