{% extends 'src/base.html' %}
{% load static %}
{% block title %}Delete Confirm{% endblock %}

{% block main_content %}

<div class="container  w-50">

{% if patient %}
</br>

{% if hide == true %}

<div class="alert alert-danger" role="alert">
    <h4 class="alert-heading"><b>Your are going to delete this patients' details !</b></h4>
    <p>It will cause to delete all other records belong to this pation such as clinical records, videos and other documents. Remember, it cannot be recover back.</p>
    </br>

    <b>Name : </b>{{patient.baby_name}}</br>
    <b>Gender : </b>{{patient.gender}}</br>
    <b>BHT : </b>{{patient.bht}}</br>
    <b>Clinic Number : </b>{{patient.clinic_no}}</br>
    <b>PIN Number : </b>{{patient.pin}}</br>
    </br>
    
    

    <p class="mb-0">If so, please enter your password.</p>
    </br>

    <form method="POST" action="{% url 'delete-patient' patient.id %}">
        <div class="form-group"><input type="password" class="form-control" name="password" placeholder="Enter your password here..."></div>
        </br><p class="mb-0">Are you sure you want to delete this patient?</p>
        </br><div class="modal-footer">
        {% csrf_token %}
        <button type="submit" class="btn btn-warning" data-bs-toggle="tooltip" title='Delete patient permanantly...'>Yes, Delete</button>
    </form>

        <a href="{% url 'view-patient' patient.id %}"><button type="button" class="btn btn-warning">No, View Full Details</button></a>
        <a href="{% url 'manage-patients' %}"><button type="button" class="btn btn-primary" data-bs-dismiss="modal">No, Go Back</button></a>
    </div>

</div>
{% else %}

<div class="container  w-50">
</br>
    <div class="align-content-center"><img src="{% static 'dist/img/locked.png' %}" class="" /></div>
</div>

{% endif %}

{% else %}
    <div class="alert alert-primary" role="alert">No records found</div>
{% endif %}

</div>

{% endblock main_content %}
