{% extends 'src/base.html' %}
{% block title %}Update Patient Details{% endblock %}

{% block main_content %}
    </br>
<div class="container-sm">
<div class="col-sm">

      <div class="card">
        <div class="card-header bg-info">
          <h3 class="card-title"><i class="fas fa-user-edit"></i> Modify Patient Details</h3>
        </div>
        <!-- /.card-header -->
        <div class="card-body">

        <form action="{% url 'edit-patient' patient.id %}" method="POST">

            {% csrf_token %}

            <div class="container">{% include 'src/form_error.html' %}</div>

            <div class="form-group row">
              <label class="col-form-label col-sm-2">BHT : </label>
              <div class="col-sm">{{form.bht}}</div>
            </div>
            <div class="form-group row align-items-center">
              <label class="col-form-label col-sm-2">NNC No : </label>
              <div class="col-sm">{{form.nnc_no}}</div>
              <a href="#"><span class="fa fa-question-circle" data-toggle="tooltip" data-original-title="Neonatal clinic registration number, Ex : NNC/123/2023"></span></a>
            </div>
            <div class="form-group row align-items-center">
              <label class="col-form-label col-sm-2">CDIC No : </label>
              <div class="col-sm">{{form.ptc_no}}</div>
              <a href="#"><span class="fa fa-question-circle" data-toggle="tooltip" data-original-title="Child development interventional clinic registration number"></span></a>
            </div>
            <div class="form-group row align-items-center">
              <label class="col-form-label col-sm-2">PC No : </label>
              <div class="col-sm">{{form.pc_no}}</div>
              <a href="#"><span class="fa fa-question-circle" data-toggle="tooltip" data-original-title="Paediatric clinic registration number"></span></a>
            </div>
            <div class="form-group row">
              <label class="col-form-label col-sm-2">PHN : </label>
              <div class="col-sm">{{form.pin}}</div>
              <a href="#"><span class="fa fa-question-circle" data-toggle="tooltip" data-original-title="Persional health number issued from hospital"></span></a>
            </div>
            <div class="form-group row">
              <label class="col-form-label col-sm-2">Disk No : </label>
              <div class="col-sm">{{form.disk_no}}</div>
            </div>
            <div class="form-group row">
              <label class="col-form-label col-sm-2">Baby : </label>
              <div class="col-sm">{{form.baby_name}}</div>
            </div>
            <div class="form-group row">
              <label class="col-form-label col-sm-2">Mother : </label>
              <div class="col-sm">{{form.mother_name}}</div>
            </div>
            <div class="form-group row">
              <label class="col-form-label col-sm-2">Gender : </label>
              <div class="col-sm">{{form.gender}}</div>
            </div>
            <div class="form-group row">
              <label class="col-form-label col-sm-2">Date and time of birth : </label>
              <div class="col-sm">{{form.dob_tob}}</div>
            </div>

            <div class="form-group row">
              <label class="col-form-label col-sm-2">POG : </label>
              <div class="col-sm">
                <div class=" d-flex align-items-center">
                  <div>{{form.pog_wks}}</div>
                  <div>&nbsp;&nbsp;Weeks and&nbsp;&nbsp;</div>
                  <div>{{form.pog_days}}</div>
                  <div>&nbsp;&nbsp;Days</div>
                  </div>
              </div>
            </div>
            
            <div class="form-group row">
              <label class="col-form-label col-sm-2">Mode of delivery : </label>
              <div class="col-sm">{{form.mo_delivery}}</div>
            </div>
            <div class="form-group row">
              <label class="col-form-label col-sm-2">APGAR : </label>
              <div class="col-sm">
                <div class="d-flex align-items-center">
                  <div>{{form.apgar_1}}</div>
                  <div>&nbsp;&nbsp;-&nbsp;&nbsp;</div>
                  <div>{{form.apgar_5}}</div>
                  <div> &nbsp;&nbsp;-&nbsp;&nbsp;</div>
                  <div>{{form.apgar_10}}</div>
                  <div>&nbsp;&nbsp;&nbsp;&nbsp;(Ex : 1 minuite > 5minuite > 10 minuite)</div>
                </div>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-form-label col-sm-2">Resuscitated : </label>
              <div class="col-sm">{{form.resuscitated}}</div>
            </div>
      
            <div id="textbox-container" style="display: none;">
            <div class="form-group row align-items-top">
              <label class="col-form-label col-sm-2">Resuscitation Note : </label>
              <div class="col-sm">{{form.resustn_note}}</div>
            </div>
            </div>

            <div class="form-group row">
              <label class="col-form-label col-sm-2">Birth weight : </label>
              <div class="col-sm">{{form.birth_weight}}</div>
            </div>
            <div class="form-group row">
              <label class="col-form-label col-sm-2">Length : </label>
              <div class="col-sm">{{form.length}}</div>
            </div>
            <div class="form-group row">
              <label class="col-form-label col-sm-2">OFC : </label>
              <div class="col-sm">{{form.ofc}}</div>
            </div>
            <div class="form-group row">
              <label class="col-form-label col-sm-2">Address : </label>
              <div class="col-sm">{{form.address}}</div>
            </div>
            <div class="form-group row">
              <label class="col-form-label col-sm-2">Telephone (Mobile) : </label>
              <div class="col-sm">{{form.tp_mobile}}</div>
            </div>
            <div class="form-group row">
              <label class="col-form-label col-sm-2">Telephone (Lan) : </label>
              <div class="col-sm">{{form.tp_lan}}</div>
            </div>
            <div class="form-group row">
              <label class="col-form-label col-sm-2">MOH area : </label>
              <div class="col-sm">{{form.moh_area}}</div>
            </div>
            <div class="form-group row">
              <label class="col-form-label col-sm-2">PHM area : </label>
              <div class="col-sm">{{form.phm_area}}</div>
            </div>
            <div class="form-group row">
              <label class="col-form-label col-sm-2">Problems : </label>
              <div class="col-sm">{{form.problems}}</div>
            </div>
            <div class="form-group row">
              <label class="col-form-label col-sm-2">Indications for GMA : </label>
              <div class="col-sm">{{form.indecation_for_gma}}</div>
            </div>
            <div class="form-group row">
              <label class="col-form-label col-sm-2">Antenatal history : </label>
              <div class="col-sm">{{form.antenatal_hx}}</div>
            </div>
            <div class="form-group row">
              <label class="col-form-label col-sm-2">Intranatal history : </label>
              <div class="col-sm">{{form.intranatal_hx}}</div>
            </div>
            <div class="form-group row">
              <label class="col-form-label col-sm-2">Postnatal history : </label>
              <div class="col-sm">{{form.postnatal_hx}}</div>
            </div>
            <div class="form-group row">
              <label class="col-form-label col-sm-2">Other details : </label>
              <div class="col-sm">{{form.other_relavent_details}}</div>
            </div>

            <div class="form-group row">
              <label class="col-sm-2 col-form-label"></label>
              <div class="col-sm"><button type="submit" class="btn btn-primary">Update</button>
            </div>
            
        </form>

      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->

    </div>
  </div>

</div>

<!-- JavaScript code -->
<script>

  // Update state of text box on checkbox click
  function toggleresuscitated() {
    var checkbox = document.getElementById("id_resuscitated");
    var textboxContainer = document.getElementById("textbox-container");

    if (checkbox.checked) {
      textboxContainer.style.display = "block";
    } else {
      textboxContainer.style.display = "none";
    }
  }

  // Initialize state of text box on page load
  window.onload = function() {
    var checkbox = document.getElementById("id_resuscitated");
    var textboxContainer = document.getElementById("textbox-container");

    if (checkbox.checked) {
      textboxContainer.style.display = "block";
    } else {
      textboxContainer.style.display = "none";
    }
  };


</script>


{% endblock main_content %}