{% extends 'src/base.html' %}
{% block title %}HINE Record - Edit{% endblock %}

{% block main_content %}

</br>
{% include 'src/form_error.html' %}

<div class="container-sm">
  <div class="card">
  <div class="card-header bg-info"><h3 class="card-title">Edit HINE Record</h3></div>

  <form action="{% url 'hine-assessment-edit' shr.id %}" method="POST">
    {% csrf_token %}

    <div class="card-body">

      <div class="form-group row">
        <label class="col-form-label col-sm-2">Patient : </label>
        <div class="col-sm-10">{{patient.baby_name}}</div>
      </div>

      <div class="form-group row">
        <label class="col-form-label col-sm-2">Current Age : </label>
        <div class="col-sm-10">{{patient.getCurrentAge}}</div>
      </div>

      <div class="form-group row">
        <label class="col-form-label col-sm-2">Assessment Date : </label>
        <div class="col-sm-3">{{hine_form.date_of_assessment}}</div>
      </div>

      <div class="form-group row">
        <label class="col-form-label col-sm-2">HINE Score : </label>
        <div class="col-sm-3">
            {{hine_form.score}}
        </div>
      </div>

      <div class="form-group row">
        <label class="col-form-label col-sm-2">Comment : </label>
        <div class="col-sm-10">
            {{hine_form.comment}}
        </div>
      </div>

      <div class="form-group row">
        <label class="col-form-label col-sm-2">Assessment done by : </label>
        <div class="col-sm-10">
            {{hine_form.assessment_done_by}}
        </div>
      </div>

    </br><hr>
    
      <div class="form-group row">
        <label class="col-sm-2 col-form-label"></label>
        <div class="col-sm"><button type="submit" class="btn btn-primary float-right">Update HINE Record</button></div>
      </div>

      </br>

  </form>

    </div>
    <!-- /.card-body -->
  </div>
  <!-- /.card -->
</div>
{% endblock main_content %}