{% extends 'src/base.html' %}
{% block title %}Bookmark - Add{% endblock %}

{% block main_content %}

</br>
{% include 'src/form_error.html' %}

<div class="container-sm">
  <div class="card">
  <div class="card-header bg-info"><h3 class="card-title">Add New Bookmark</h3></div>

  <form action="{% url 'bookmark-add' item_id bookmark_type %}" method="POST">
    {% csrf_token %}

    <div class="card-body">

      <div class="form-group row">
        <label class="col-form-label col-sm-2">Item ID : </label>
        <div class="col-sm">{{item_id}}</div>
      </div>

      <div class="form-group row">
        <label class="col-form-label col-sm-2">Type : </label>
        <div class="col-sm">{{bookmark_type}}</div>
      </div>

      <div class="form-group row">
        <label class="col-form-label col-sm-2">Title : </label>
        <div class="col-sm">{{form.title}}</div>
      </div>

      <div class="form-group row">
        <label class="col-form-label col-sm-2">Description : </label>
        <div class="col-sm">{{form.description}}</div>
      </div>

      <div class="form-group row">
        <label class="col-sm-2 col-form-label"></label>
        <div class="col-sm"><button type="submit" class="btn btn-primary float-right">Add Bookmark</button></div>
      </div>

      </br>

  </form>

    </div>
    <!-- /.card-body -->
  </div>
  <!-- /.card -->
</div>

</script>

{% endblock main_content %}