{% extends 'src/base.html' %}
{% block title %}Bookmark - Edit{% endblock %}

{% block main_content %}

</br>
{% include 'src/form_error.html' %}

<div class="container-sm">
  <div class="card">
  <div class="card-header bg-info"><h3 class="card-title">Edit Bookmark</h3></div>

  <form action="{% url 'bookmark-edit' bookmark.id %}" method="POST">
    {% csrf_token %}

    <div class="card-body">

      <div class="form-group row">
        <label class="col-form-label col-sm-2">Patient : </label>
        <div class="col-sm">{{form.title}}</div>
      </div>

      <div class="form-group row">
        <label class="col-form-label col-sm-2">File : </label>
        <div class="col-sm">{{form.description}}</div>
      </div>

      <div class="row justify-content-end align-items-center">
        <div class="col-auto m-2"><button type="submit" class="btn btn-primary float-right">Update Bookmark</button></div>
        <div class="col-auto m-2"><button type="button" class="btn btn-primary float-right">Delete</button></div>
      </div>

      </br>

  </form>

    </div>
    <!-- /.card-body -->
  </div>
  <!-- /.card -->
</div>
{% endblock main_content %}