{% extends 'src/base.html' %}
{% block title %}Bookmark Manager{% endblock title%}

{% block main_content %}
<div class="container">

</br>

{% if bookmark_page_obj %}

{{bookmark_page_obj.User.id}}

  <div class="card">
    <div class="card-header bg-info">
    <h3 class="card-title">Bookmark Manager</h3>
    </div>
    <table class="table table-hover text-nowrap">
    <thead>
    <tr>
    <th>Index</th>
    <th>Title</th>
    <th>Type</th>
    <th>Description</th>
    <th>Owner</th>
    <th>Created</th>
    <th>Action</th>
    </tr>
    </thead>
    <tbody>

      {% for Bookmark in bookmark_page_obj %}
    <tr>
      <td>{{ Bookmark.id }}</td>
      <td>{{ Bookmark.title }}</td>
      <td>{{ Bookmark.bookmark_type }}</td>
      <td>{{ Bookmark.description }}</td>
      <td>{{ Bookmark.owner.username }}</td>
      <td><div style="cursor: pointer;"><i data-toggle="tooltip" data-placement="top" title="Bookmarked on : {{ Bookmark.created_on }} {% if Bookmark.last_edit_by %}last edited on {{ Bookmark.added_on }} by {{ Bookmark.last_edit_by }}{% endif %}" class="fas fa-info-circle" style="color: #3d7deb;"></i></div></td>
      <td><div style="cursor: pointer;" class=" btn-group" role="group">
          <a id="btnGroupDrop1" class="fas fa-walking" data-toggle="dropdown" aria-haspopup="false" aria-expanded="true"> Action</a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="btnGroupDrop1">

            {% if Bookmark.bookmark_type == 'Patient' and Bookmark.object_id %}
            <a class="dropdown-item" href="{% url 'view-patient' Bookmark.object_id %}"><i class="fas fa-eye"></i> View Bookmarked Patient</a>
            {% elif Bookmark.bookmark_type == 'Video' and Bookmark.object_id %}
            <a class="dropdown-item" href="{% url 'video:view' Bookmark.object_id %}"><i class="fas fa-eye"></i> View Bookmarked Video</a>
            {% elif Bookmark.bookmark_type == 'GMA' and Bookmark.object_id %}
            <a class="dropdown-item" href="{% url 'assessment-view' Bookmark.object_id %}"><i class="fas fa-eye"></i> View Bookmarked GMA</a>
            {% elif Bookmark.bookmark_type == 'HINE' and Bookmark.object_id %}
            <a class="dropdown-item" href="{% url 'hine-assessment-view' Bookmark.object_id %}"><i class="fas fa-eye"></i> View Bookmarked HINE</a>
            {% elif Bookmark.bookmark_type == 'Attachment' and Bookmark.object_id %}
            <a class="dropdown-item" href="{% url 'attachment-view' Bookmark.object_id %}"><i class="fas fa-eye"></i> View Bookmarked Attachment</a>
            {% elif Bookmark.bookmark_type == 'DA' %}
            <a class="dropdown-item" href="{% url 'da-assessment-view' Bookmark.object_id %}"><i class="fas fa-eye"></i> View Bookmarked Developmental Assessment</a>
            {% elif Bookmark.bookmark_type == 'CDICR' %}
            <a class="dropdown-item" href="{% url 'cdic-assessment-view' Bookmark.object_id %}"><i class="fas fa-eye"></i> View Bookmarked CDIC Record</a>
            {% else %}
            {% endif %}

            <div><hr></div>
            <a class="dropdown-item" href="{% url 'bookmark-view' Bookmark.id %}"><i class="fas fa-eye"></i> View</a>
            <a class="dropdown-item" href="{% url 'bookmark-edit' Bookmark.id %}"><i class="fas fa-pencil-alt"></i> Edit</a>
            <a class="dropdown-item" href="{% url 'bookmark-delete' Bookmark.id %}"><i class="far fa-trash-alt"></i> Delete</a>
            <a class="dropdown-item" href="{% url 'user-view-by-username' Bookmark.owner.username %}"><i class="fas fas fa-eye"></i> View Owner</a>
          </div>
        </div>
      </div>
    </td>

    </tr>
    </tbody>

    {% endfor %}

    </table>
    </div>

</div>

</br>

<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
  <li>
    {% if bookmark_page_obj.has_previous %}
      <li class="page-item"> <a class="page-link" href="?page=1" tabindex="-1">&laquo; First</a>
      <li class="page-item"> <a class="page-link" href="?page={{ bookmark_page_obj.previous_page_number }}" tabindex="-1">Previous</a></li>
    {% else %}
      <li class="page-item disabled"> <a class="page-link" href="#" tabindex="-1">&laquo; First</a>
      <li class="page-item disabled"> <a class="page-link" href="#" tabindex="-1">Previous</a> </li>
    {% endif %}
  
    <li class="page-item"><a class="page-link">Page {{ bookmark_page_obj.number }} of {{ bookmark_page_obj.paginator.num_pages }}</a></li>
  
    {% if bookmark_page_obj.has_next %}
      <li class="page-item"><a class="page-link" href="?page={{ bookmark_page_obj.next_page_number }}">Next</a></li>
      <li class="page-item"><a class="page-link" href="?page={{ bookmark_page_obj.paginator.num_pages }}">Last &raquo;</a></li>
    {% else %}
      <li class="page-item disabled"><a class="page-link" href="#">Next</a></li>
      <li class="page-item disabled"><a class="page-link" href="#">Last &raquo;</a></li>
    {% endif %}
  
  </li>
  </ul>
</nav>

{% else %} 
<div class="alert alert-secondary" role="alert">No records found</div>
{% endif %}

</div>

{% endblock main_content %}
