{% extends 'src/base.html' %}
{% load static %}
{% block title %}CDIC Record - View{% endblock %}
{% block main_content %}

</br>

<div class="container-sm">
<div class="card">
<div class="card-header bg-info"><h3 class="card-title">CDIC Record</h3></div>

{% if CDICRecord.is_discharged %}
<div class="ribbon-wrapper ribbon-xl"><div class="ribbon bg-dark text-lg">Discharged</div></div>
{% endif %}


<div class="card-body">

    <div class="form-group row d-flex align-items-center">
        <label class="col-sm-2 col-form-label">Name of Baby : </label>
        <div class="col-sm-10">{{CDICRecord.patient.baby_name}}</div>
    </div>

    <div class="form-group row d-flex align-items-center">
      <label class="col-form-label col-sm-2">Date of Assessment : </label>
      <div class="col-sm-10">{{CDICRecord.assessment_date}}</div>
    </div>

    <div class="form-group row d-flex align-items-center">
      <label class="col-form-label col-sm-2">Assessment Details : </label>
      <div class="col-sm-10">{{CDICRecord.assessment}}</div>
    </div>

    <div class="form-group row d-flex align-items-center">
      <label class="col-form-label col-sm-2">Interventions Details : </label>
      <div class="col-sm-10">{{CDICRecord.today_interventions}}</div>
    </div>

    <div class="form-group row d-flex align-items-center">
        <label class="col-form-label col-sm-2">Discharged : </label>
        <div class="col-sm-10">{% if CDICRecord.is_discharged %}Yes{% else %}No{% endif %}</div>
    </div>

    <div class="form-group row d-flex align-items-center">
        <label class="col-form-label col-sm-2">Discharged by : </label>
        <div class="col-sm-10">{{CDICRecord.discharged_by}}</div>
    </div>

    <div class="form-group row d-flex align-items-center">
        <label class="col-form-label col-sm-2">Discharged on : </label>
        <div class="col-sm-10">{{CDICRecord.discharge_date}}</div>
    </div>

    <div class="form-group row d-flex align-items-center">
        <label class="col-form-label col-sm-2">Discharged Plan : </label>
        <div class="col-sm-10">{{CDICRecord.discharge_plan}}</div>
    </div>

    <div class="form-group row d-flex align-items-center">
        <label class="col-form-label col-sm-2">Next Appointment Date : </label>
        <div class="col-sm-10">{{CDICRecord.next_appointment_date}}</div>
    </div>
    
    <div class="form-group row d-flex align-items-center">
        <label class="col-form-label col-sm-2">Next Appointment Plan : </label>
        <div class="col-sm-10">{{CDICRecord.next_appointment_plan}}</div>
    </div>

    <div class="form-group row d-flex align-items-center">
        <label class="col-form-label col-sm-2">Record Create : </label>
        <div class="col-sm-10">by {{CDICRecord.added_by}} on {{CDICRecord.created_at|date:"F d, Y g:i A"}}</div>
    </div>

    {% if CDICRecord.last_edit_by %}
        <div class="form-group row d-flex align-items-center">
            <label class="col-form-label col-sm-2">Record Edit : </label>
            <div class="col-sm-10">by {{CDICRecord.last_edit_by}} on {{CDICRecord.updated_at|date:"F d, Y g:i A"}}</div>
        </div>
    {% endif %}

      </br>
<hr>

    <div class="row justify-content-end align-items-center">

        <div class="col-auto m-2">
          <a class="btn btn-primary" href="{% url 'view-patient' CDICRecord.patient.id %}" type="button"><i class="right fas fas fa-eye"></i>  View Patient</a>
        </div>

        <div class="col-auto m-2">
          <a class="btn btn-primary" href="{% url 'cdic-assessment-manager-patient' CDICRecord.patient.id %}" type="button"><i class="right fas fa-eye"></i>  View All CDIC Record</a>
        </div>

        <div class="col-auto m-2">
          {% load delete_modal_tags %}
          {% delete_modal_id 'CDICRecord' CDICRecord.id as modal_id %}
          <button type="button" class="btn btn-primary" onclick="DeleteConfirmation.show('{{ modal_id }}')"><i class="right far fa-trash-alt"></i>  Delete</button>
        </div>
        
        <div class="col-auto m-2">
          <a class="btn btn-primary" href="{% url 'cdic-assessment-edit' CDICRecord.id %}" type="button"><i class="fas fa-pencil-alt"></i>  Update Record</a>
        </div>

        {% if bookmark %}
        <a class="btn btn-primary" href="{% url 'bookmark-view' bookmark.id %}" type="button"><i class="fas fa-eye"></i> View Bookmark</a>
        {% else %}
        <a class="btn btn-primary" href="{% url 'bookmark-add' CDICRecord.id 'Assessment' %}" type="button"><i class="fas fa-circle fa-plus"></i>  Add to Bookmark</a>
        {% endif %}

    </div>
    </div>


</div>
<!-- /.card-body -->

</div> <!-- /.main container -->

{% load delete_modal_tags %}
{% delete_modal CDICRecord %}

{% endblock main_content %}