{% extends 'src/base.html' %}
{% load static %}
{% block title %}Video - Add{% endblock %}
{% block main_content %}

</br>

<div class="container">

<!-- Page header -->
<div class="card bg-info"><div class="card-header"><h3 class="card-title">Add New Video</h3></div></div>

<div class="row">
  <div class="col-md-6">
    <div class="card card-body">
      <div class="row align-items-center"><label class="col-form-label col-sm-4">BHT : </label><div class="col-sm">{{patient.bht}}</div></div>
      <div class="row align-items-center"><label class="col-form-label col-sm-4">PHN : </label><div class="col-sm">{{patient.pin}}</div></div>
      <div class="row align-items-center"><label class="col-form-label col-sm-4">NNC No : </label><div class="col-sm">{{patient.clinic_no}}</div></div>
      <div class="row align-items-center"><label class="col-form-label col-sm-4">Name of Baby : </label><div class="col-sm">{{patient.baby_name}}</div></div>
      <div class="row align-items-center"><label class="col-form-label col-sm-4">Name of Mother : </label><div class="col-sm">{{patient.mother_name}}</div></div>
      <div class="row align-items-center"><label class="col-form-label col-sm-4">Gender : </label><div class="col-sm">{{patient.gender}}</div></div>
      <div class="row align-items-center"><label class="col-form-label col-sm-4">Current Age : </label><div class="col-sm">{{patient.getCurrentAge}}</div></div>
      <div class="row align-items-center"><label class="col-form-label col-sm-4">Corrected Age : </label><div class="col-sm">{{patient.getCorrectedAge}}</div></div>
      <div class="row align-items-center"><label class="col-form-label col-sm-4">Corrected Gest. Age : </label><div class="col-sm">{{patient.getCorrectedGestationalAge}}</div></div>
    </div> <!-- /.card body -->
  </div>

  <div class="col-md-6">
    <div class="card card-body">
      <form id="file-upload-form" enctype="multipart/form-data" onsubmit="onFormSubmit(event)">
        {% csrf_token %}

              <div class="form-group row align-items-center">
                <label class="col-form-label col-sm-3">Title : </label>
                <div class="col-sm">
                  <input type="text" class="form-control" name="title_text" id="file_title" placeholder="Add a title for the file..." required>
                </div>
                <a href="#"><span class="fa fa-question-circle" data-bs-toggle="tooltip" data-original-title="Name for the video, example : BHT + Recorded date time ect..."></span></a>
              </div>

              <div class="form-group row align-items-center">
                <label class="col-form-label col-sm-3">Video File : </label>
                <div class="col-sm">
                  <div class="custom-file">
                    <input type="file" class="custom-file-input" name="file" id="file-upload-input" onchange="javascript:updateList()" required>
                    <label id="file-upload-lable" class="custom-file-label" for="file">Select a file... (Video, Image, PDF)</label>
                    <div class="invalid-feedback">Example invalid custom file feedback</div>
                  </div>
                </div>
                <a href="#"><span class="fa fa-question-circle" data-bs-toggle="tooltip" data-original-title="You can upload video in .mp4 or .mov file format and each file should less than 1000Mb (1Gb). If file size more than 30mb, it will take longer time till upload and convert. So, better if you can upload file size less than 30mb."></span></a>
              </div>

              <div class="form-group row align-items-center">
                <label class="col-form-label col-sm-3">Recorded On : </label>
                <div class="col-sm">
                  <input type="date" name="recorded_on" class="form-control" id="id_recorded_on" required>
                </div>
                <a href="#"><span class="fa fa-question-circle" data-bs-toggle="tooltip" data-original-title="Please select a date, recording was done..."></span></a>
              </div>

              <div class="form-group row align-items-center">
                <label class="col-form-label col-sm-3">Description : </label>
                <div class="col-sm">
                  {% comment %} <input type="text" class="form-control" name="descreption" id="descreption" placeholder="Add a description for the file..."> {% endcomment %}
                  <textarea type="text" class="form-control" name="descreption" id="descreption" placeholder="Add a description for the file..."> </textarea>
                </div>
                <a href="#"><span class="fa fa-question-circle" data-bs-toggle="tooltip" data-original-title="You can add descreption for this file. It's not mandadory..."></span></a>
              </div>

            </br>

              <div class="row justify-content-end">
                <div class="col-auto"><button style="display:none;" id="btn_view"type="button" class="btn btn-primary" onclick="location.href=''">View</button></div>
                <div class="col-auto"><button style="display:none;" id="btn_edit"type="button" class="btn btn-primary" onclick="location.href=''">Edit</button></div>
                <div class="col-auto"><button style="display:none;" id="btn_add_another"type="button" class="btn btn-primary" onclick="location.href='{% url 'file-add' patient.id %}'">Add New</button></div>
                <div class="col-auto"><button id="btn_add" type="submit" class="btn btn-primary">Upload</button></div>
              </div>

            </br>

              <div class="form-group row" style="display:none;" id="progress_div">
                <div class="progress"><div class="progress-bar" id="progress_bar" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">0%</div></div>
              </div>

              <div class="form-group row"><p id="progress_text"></p></div>
              
              <div class="row card" style="display:none;" id="progress_convert_div">
                <div class="row align-items-center">
                  <div class="col-auto"><img style="width: 50px; height: 50px;" src="{% static 'dist/img/gif/converting.gif' %}" class="img-circle" alt="Converting...."/></div>
                  <div class="col">Converting video....</div>
                </div>
              </div>
        
        </form>
    </div> <!-- /.card body-->
  </div>
</div>

<script>

  const fileInput = document.querySelector('input[type="file"]');
  const label = document.getElementById('file-upload-lable');

  fileInput.addEventListener('change', function() {
    const fileName = this.value.split("\\").pop();
    label.textContent = fileName;
  });

  function onFormSubmit(event) {
      event.preventDefault();

      {% comment %} var p_id = '';
      var f_id = ''; {% endcomment %}

      var formData = new FormData();
      formData.append("file_title", document.getElementById("file_title").value);
      {% comment %} formData.append("file_type", document.getElementById("file_type").value); {% endcomment %}
      formData.append("file",document.getElementById("file-upload-input").files[0]);
      formData.append("recorded_on",document.getElementById("id_recorded_on").value);
      formData.append("descreption",document.getElementById("descreption").value);
      
      var btn_view = document.getElementById("btn_view")
      var btn_edit = document.getElementById("btn_edit")
      var btn_add = document.getElementById("btn_add")
      var btn_add_another = document.getElementById("btn_add_another")

      var xhr=new XMLHttpRequest();
      xhr.open("POST",'{% url 'file-add' patient.id %}',true);

      xhr.upload.addEventListener("progress",function (ev) {
         if(ev.lengthComputable){
            var percentage=(ev.loaded/ev.total*100|0);
            document.getElementById("progress_bar").style["width"]=""+percentage+"%";
            document.getElementById("progress_bar").innerHTML=""+percentage+"%";
            document.getElementById("progress_text").innerHTML="Uploading... : "+parseInt(ev.loaded/1000000)+"/"+parseInt(ev.total/1000000)+" MB";
            
            if (percentage == 100){
              document.getElementById("progress_convert_div").style["display"]="block";
            } else {
              document.getElementById("progress_convert_div").style["display"]="none";
            }

         }
      });

      xhr.addEventListener("loadstart", function(e) {
        document.getElementById("progress_div").style["display"]="block";
        btn_add.disabled = true;
          }, false);

      xhr.onreadystatechange = function() {
        if (xhr.readyState == XMLHttpRequest.DONE) {
            var response = JSON.parse(xhr.responseText);
            var success = response.success;

            document.getElementById("progress_convert_div").style["display"]="none";

            if (this.readyState == 4 && this.status == 200 && success == true) {

              document.getElementById("progress_div").style["display"]="none";
              document.getElementById("progress_text").innerHTML="File uploaded successfully... (100%)";

              btn_add_another.style.display = "block";
              btn_view.style.display = "block";
              btn_edit.style.display = "block";
              btn_add.style.display = "none";

              var url_view = "/video/view/"+ response.f_id;
              btn_view.addEventListener('click', () => {
                window.location.href = url_view;
              });

              var url_edit = "/video/edit/"+ response.f_id;
              btn_edit.addEventListener('click', () => {
                window.location.href = url_edit;
              });

              } else {
                document.getElementById("progress_div").style["display"]="none";
                document.getElementById("progress_text").innerHTML=response.msg;
              }
        }
      }

      xhr.addEventListener("loadend", function(e) {
 
      }, false);

      xhr.addEventListener("error", function(e) {
        document.getElementById("progress_div").style["display"]="none";
        document.getElementById("progress_text").innerHTML=e;
        btn_add_another.style.display = "block";
        btn_add.style.display = "none";
        btn_view.style.display = "none";
        btn_edit.style.display = "none";
        btn_add.style.display = "none";
        document.getElementById("progress_convert_div").style["display"]="none";
        }, false);

      xhr.send(formData);
  }

</script>

</div> <!-- /.main container -->
{% endblock main_content %}