{% extends './basic_plane.html' %}
{% load static %}
{% block mainbody %}

{% if user.is_authenticated  %} <!-- to show Sidebar if loged users only -->

<div class="wrapper">
        <!-- Navbar -->
        {% include './navbar.html' %}
        <!-- /.navbar -->

        <!-- Main Sidebar Container -->
        {% include './main_sidebar_menu.html' %}
        <!-- /.sidebar -->

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        {% block content_header %}{% endblock content_header %}
      </div>
    </div>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        {% include 'src/messages.html' %}
        {% block main_content %}
        <!-- Main content goes here-->
        {% endblock main_content %}
      </div>
    </section>
  </div>
  <!-- /.content-wrapper -->

  <!-- Control Sidebar -->
  {% comment %} {% include './content_headder.html' %} {% endcomment %}
  <!-- /.control-sidebar -->

  <!-- Main Footer -->
  {% include './main_footer.html' %}
  
  <!-- Logout Confirmation Modal (only for authenticated users) -->
  {% if user.is_authenticated %}
    {% include './logout_modal.html' %}
  {% endif %}
</div>
<!-- /.wrapper -->

{% endif %}

{% endblock mainbody %}
