<footer class="main-footer">
  <!-- To the right -->
  {% comment %} <div class="float-right d-none d-sm-inline">Develop by Dr. Rasika Kulasinghe</div> {% endcomment %}
  <div class="float-right d-none d-sm-inline"><a href="{% url 'developer-contact' %}">Contact Devoloper</a></div>
  <!-- Default to the left -->
  {% comment %} <strong>Copyright &copy; 2023 <a href="https://kulasinghetech.com">Dr. Rasika Kulasinghe</a>.</strong> All rights reserved. {% endcomment %}
  <strong>&copy; 2023 Developed by <a href="https://rasikakulasinghe.com">Dr. Rasika Kulasinghe</a>.</strong>
</footer>