{% load static %}

<aside class="main-sidebar sidebar-dark-primary elevation-4">
{% comment %}   <!-- Brand Logo -->
  <a href="{% static 'index3.html" class="brand-link">
    <img
      src="https://via.placeholder.com/33x33/1f2937/ffffff?text=A"
      alt="RLM Logo"
      class="brand-image img-circle elevation-3"
      style="opacity: 0.8"
    />
    <span class="brand-text font-weight-light">Remote Loan Manager</span>
  </a> {% endcomment %}

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user panel (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image"><a href="{% url 'user-view' user.id %}">
      {% if user.profile_pic %}
      <img src="{{user.profile_pic.url}}" class="img-circle elevation-2" alt="User Image"/>
      {% else %}
      <img src="https://via.placeholder.com/40x40/6c757d/ffffff?text=U" class="img-circle elevation-2" alt="User Image"/>
      {% endif %}
      </a></div>
      <div class="info"><a href="{% url 'user-view' user.id %}" class="d-block"> {{user.username}}</a></div>
    </div>
    {% comment %} {% else %}
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image"><a href="{% url 'user-view' user.id %}">
      {% if user.profile_pic %}
      <img src="{{user.profile_pic.url}}" class="img-circle elevation-2" alt="User Image"/>
      {% else %}
      <img src="https://via.placeholder.com/40x40/6c757d/ffffff?text=U" class="img-circle elevation-2" alt="User Image"/>
      {% endif %}
      </a></div>
      <div class="info"><a href="{% url 'user-view' user.id %}" class="d-block"> {{user.username}}</a></div>
    </div> {% endcomment %}

{% comment %}     <!-- SidebarSearch Form -->
    <div class="form-inline">
      <div class="input-group" data-widget="sidebar-search">
        <input
          class="form-control form-control-sidebar"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <div class="input-group-append">
          <button class="btn btn-sidebar">
            <i class="fas fa-search fa-fw"></i>
          </button>
        </div>
      </div>
    </div> {% endcomment %}

    <!-- Sidebar Menu -->
    <nav class="mt-2"><ul
        class="nav nav-pills nav-sidebar flex-column"
        data-widget="treeview"
        role="menu"
        data-accordion="false"
      >

      <!-- Add icons to the links using the .nav-icon class with font-awesome or any other icon font library -->
      <li class="nav-item menu-open">
        <a href="#" class="nav-link active"><i class="nav-icon fas fa-th-large"></i><p>Records<i class="right fas fa-angle-left"></i></p></a>
        <ul class="nav nav-treeview">
          <li class="nav-item"><a href="{% url 'home' %}" class="nav-link"><i class="right fas fa-home"></i><p>Home</p></a></li>
          <li class="nav-item"><a href="{% url 'search-start' %}" class="nav-link"><i class="right fas fa-search"></i><p>Advanced Search</p></a></li>
          <li class="nav-item"><a href="{% url 'add-patient' %}" class="nav-link"><i class="right fas fa-circle fa-plus"></i><p>Add New Patient</p></a></li>
          <li class="nav-item"><a href="{% url 'assessment-manager' %}" class="nav-link"><i class="right fas fa-tasks"></i><p>GM Assessment Manager</p></a></li>
          <li class="nav-item"><a href="{% url 'file-manager-common' %}" class="nav-link"><i class="right fas fa-tasks"></i><p>Video Manager</p></a></li>
          <li class="nav-item"><a href="{% url 'cdic-assessment-manager' %}" class="nav-link"><i class="right fas fa-tasks"></i><p>CDIC Record Manager</p></a></li>
          <li class="nav-item"><a href="{% url 'hine-assessment-manager' %}" class="nav-link"><i class="right fas fa-tasks"></i><p>HINE Record Manager</p></a></li>
          <li class="nav-item"><a href="{% url 'da-assessment-manager' %}" class="nav-link"><i class="right fas fa-tasks"></i><p>DA Record Manager</p></a></li>
          <li class="nav-item"><a href="{% url 'manage-patients' %}" class="nav-link"><i class="right fas fa-tasks"></i><p>Patient Manager</p></a></li>
          <li class="nav-item"><a href="{% url 'attachment-manager' %}" class="nav-link"><i class="right fas fa-tasks"></i><p>Attachment Manager</p></a></li>
          <li class="nav-item"><a href="{% url 'bookmark-manager' %}" class="nav-link"><i class="right far fa-bookmark" style="color: #ffffff;"></i><p>Bookmark Manager</p></a></li>
      </ul>
      </li>

      <li class="nav-item menu-close">
        <a href="#" class="nav-link active"><i class="nav-icon fas fa-cog"></i><p>Settings<i class="right fas fa-angle-left"></i></p></a>
        <ul class="nav nav-treeview">
          <li class="nav-item"><a href="{% url 'user-edit' user.id %}" class="nav-link"><i class="right fas fa-circle fa-plus"></i><p>Update User Details</p></a></li>
          <li class="nav-item"><a href="{% url 'user-change-password' %}" class="nav-link"><i class="right fas fa-unlock-alt"></i><p>Change Password</p></a></li>
          <li class="nav-item"><a href="{% url 'reset-password' %}" class="nav-link"><i class="right fas fa-unlock-alt"></i><p>Reset Password</p></a></li>
          <li class="nav-item"><a href="{% url 'user-logout' %}" class="nav-link"><i class="right fas fa-sign-out-alt"></i><p>Log Out</p></a></li>
          <li class="nav-item"><a href="{% url 'developer-contact' %}" class="nav-link"><i class="right fas fa-address-card"></i><p>Contact Developer</p></a></li>
          <li class="nav-item"><a href="{% url 'help-home' %}" class="nav-link"><i class="right fas fa-question-circle" style="color: #ffffff;"></i><p>Help</p></a></li>
        </ul>
      </li>
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>

