{% extends 'src/base.html' %}
{% block title %}Reset Password - New Password{% endblock %}
{% block main_content %}

<div class="container">
	</br>
	<div class="container-sm"><div class="col-sm">

	{% include 'src/form_error.html' %}

	<div class="card text-white bg-info">
	{% comment %} <div class="card bg-light w-75"> {% endcomment %}

	<div class="card-header">Set up new password</div>
	<div class="card-body">
		{% comment %} <h5 class="card-title">Light card title</h5> {% endcomment %}
		<p class="card-text">Please enter your new password twice so we can verify you typed it in correctly.</p>
		<form action="" method="POST">
			{% csrf_token %}
			<div class="form-group row">
			<label class="col-form-label col-sm-3">New Password : </label>
			<div class="col-sm-7">{{form.new_password1}}</div>
			</div>

			<div class="form-group row">
			<label class="col-form-label col-sm-3">Retype Password : </label>
			<div class="col-sm-7">{{form.new_password2}}</div>
			</div>

			<div class="form-group row">
			<label class="col-form-label col-sm-3"></label>
			<div class="col-sm-7"><button class="btn btn-light" type="Submit">Update Password</button></div>
			</div>
		</form>
	</div>

	</div>
	</div>

	</div></div>

</div>

{% endblock main_content%}