{% extends 'src/base.html' %}
{% block title %}Advanced Search{% endblock title%}

{% block main_content %}

<div class="container w-75">

<!-- Page header -->
</br>
<div class="card bg-info"><div class="card-header"><h3 class="card-title">Advanced Search</h3></div></div>

<div class="card">

<div class="card-body">
<form action="{% url 'search-results'%}" method="POST">
{% csrf_token %}

          <select class="form-control form-select" name="combo_record_type" onchange="CRT(this)" required>
            <option value="">Click here to select record type...</option>
            <option value="rtype_pt">Patient</option>
            <option value="rtype_user">User</option>
          </select>
          </br>

          <div style="display:none;" id="combo_pt_param_type" ><select class="form-control form-select"name="combo_pt_param_type" onchange="CPPT(this)" >
            <option value="">Click here to select patients parameters...</option>
            <option value="pts_bht">BHT</option>
            <option value="pts_phn">PHN</option>
            <option value="pts_nnc_no">Clinic number</option>
            <option value="pts_name_baby">Name of the baby</option>
            <option value="pts_name_mother">Name of the mother</option>
          </select></br></div>

          <div style="display:none;" id="combo_users" ><select class="form-control form-select" name="combo_users" >
            <option value=""selected>Click here to select user...</option>
            {% for CustomUser in username_list %}
            <option>{{ CustomUser.username }}</option>
            {% endfor %}
          </select></br></div>

          <div style="display:none;" id="search_text" ><input type="text" class="form-control" name="search_text" placeholder="Type here..." ></div>

    </div>
    <div class="card-footer">
    <button type="submit" class="btn btn-primary float-right">Search</button>
    </div>
    </div>
</form>

    <!-- JavaScript -->
    <script type="text/javascript">

      function CRT(select){
        if(select.value=="rtype_pt"){
          hideAll()
          document.getElementById('combo_pt_param_type').style.display = "block";
        } else if (select.value=="rtype_user"){
          hideAll()
          document.getElementById('combo_users').style.display = "block";
        } else {
         hideAll()
        }
      }

      function CPPT(select){
        if(select.value!="0"){
          document.getElementById('search_text').style.display = "block";
        } else {
          document.getElementById('search_text').style.display = "none";
        }
      }

      function CAPT(select){
        if(select.value=="assessmnt_date" || select.value=="assessmnt_netxt_date"){
          document.getElementById('combo_users').style.display = "none";
        } else if(select.value=="assessmnt_created_user"){
          document.getElementById('combo_users').style.display = "block";
        } else {
          document.getElementById('combo_users').style.display = "none";
        }
      }

      function CDPT(select){
        if(select.value=="vpt_type"){
          document.getElementById('combo_doc_type').style.display = "block";
          document.getElementById('combo_users').style.display = "none";

        } else if(select.value=="vpt_rd"){
          document.getElementById('combo_users').style.display = "none";
          document.getElementById('combo_doc_type').style.display = "none";

        } else if(select.value=="vpt_uploaded_user"){
          document.getElementById('combo_users').style.display = "block";
          document.getElementById('combo_doc_type').style.display = "none";

        } else {
          document.getElementById('combo_doc_type').style.display = "none";
          document.getElementById('combo_users').style.display = "none";
        }
      }

      function hideAll(){
        document.getElementById('combo_pt_param_type').style.display = "none";
        document.getElementById('combo_users').style.display = "none";
        document.getElementById('search_text').style.display = "none";
      }
      
      </script>

</div>
{% endblock main_content %}
