{% extends 'src/base.html' %}
{% load static %}
{% block title %}Devoloper Contact{% endblock %}

{% block main_content %}
</br>
<div class="container-sm">
<div class="col-sm">
  
  <div class="card">

    <div class="card-header">

    <div class="container"><div class="col-md-4 px-0">
      {% if developer.logo %}
      <img src="{{developer.logo.url}}" class="rounded-circle img-thumbnail" width=200 height=200>
      {% else %}
      <img src="{% static 'dist/img/AdminLTELogo.png' %}" class="rounded-circle img-thumbnail" width=200 height=200>
      {% endif %}
    </div>
    </div>
    </div>

    <!-- /.card-header -->
      <div class="alert alert-primary">Welcome...</div>
    
    <div class="card-body">

      <dl class="row">
        <dt class="col-sm-3">Devoloper :</dt>
        <dd class="col-sm-9">{{developer.name}} ({{developer.qualifications}})</dd>

        <dt class="col-sm-3">Email :</dt>
        <dd class="col-sm-9">{{developer.email}}</dd>

        <dt class="col-sm-3">Web :</dt>
        <dd class="col-sm-9">{{developer.web}}</dd>

        <dt class="col-sm-3">Telephone Mobile :</dt>
        <dd class="col-sm-9">{{developer.tel_mob}}</dd>

        <dt class="col-sm-3">Telephone Lan :</dt>
        <dd class="col-sm-9">{{developer.tel_lan}}</dd>

        <dt class="col-sm-3">Location :</dt>
        <dd class="col-sm-9">{{developer.location}}</dd>

    </br>
    </br>

        <dt class="col-sm-3">Social Contacts :</dt>
        <dd class="col-sm-9">
          <div class="rounded-social-buttons">
            {% if developer.facebook %}<a class="social-button facebook" href="{{developer.facebook}}" target="_blank"><i class="fab fa-facebook-f"></i></a>{% endif %}
            {% if developer.twitter %}<a class="social-button twitter" href="{{developer.twitter}}" target="_blank"><i class="fab fa-twitter"></i></a>{% endif %}
            {% if developer.whatsapp %}<a class="social-button linkedin" href="//api.whatsapp.com/send?phone={{developer.whatsapp}}&text=Hi"
            target="_blank"><i class="fab fa-whatsapp"></i></a>{% endif %}
            {% if developer.youtube %}<a class="social-button youtube" href="{{developer.youtube}}" target="_blank"><i class="fab fa-youtube"></i></a>{% endif %}
          </div>
        </dd>

    </br>
    </br>

      </dl>
      
      <div class="float-right"><button type="button" class="btn btn-primary" onclick="location.href='{% url 'home' %}'">Home</button>
      <button class="btn btn-primary" onclick="location.href='{% url 'user-login' %}'" type="button">Login</button></div>

    </div>
    <!-- /.card-body -->
  </div>
  <!-- /.card -->

{% comment %} </div>

        <p>{{var.browser}}</p>
        <p>{{var.os}}</p>
        <p>{{var.device}}</p>
        <p>{{var.ipaddress}}</p>
        <p>is_mobile : {{var.is_mobile}}</p>
        <p>is_tablet :{{var.is_tablet}}</p>
        <p>is_touch_capable :{{var.is_touch_capable}}</p>
        <p>is_pc :{{var.is_pc}}</p>
        <p>is_bot :{{var.is_bot}}</p>
</div> {% endcomment %}
</div>
</div>
{% endblock main_content%}