{% extends 'src/base.html' %}
{% block title %}Reset Password - Send{% endblock %}

{% block main_content %}

</br>

<div class="container-sm"><div class="col-sm">

<div class="card text-white bg-success">
  <div class="card-header"><b>Password reset sent</b></div>
  <div class="card-body">
    {% comment %} <h5 class="card-title"><b>Password reset sent</b></h5> {% endcomment %}
    {% comment %} <h5 class="card-title"></h5> {% endcomment %}
    {% comment %} </br> {% endcomment %}
  {% comment %} <hr class="bg-light"> {% endcomment %}
    <p class="card-text">We have emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.
      If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.</p>
    <p class="card-text"></p>
  </div>
</div>

</div></div>

{% endblock main_content%}