{% extends 'src/basic_plane.html' %}
{% block title %}Reset Password{% endblock %}
{% load static %}
{% block mainbody %}

<div class="hold-transition login-page">
    <div class="login-box">
        <div class="card card-outline card-primary">
            <div class="card-header text-center">
                <a href="#" class="h3"><b>NDAS - Password Reset</b></a>
            </div>
            <div class="card-body">
                <p class="login-box-msg">Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.</p>
                {% include 'src/messages.html' %}

                <form method="POST" action="">
                    {% csrf_token %}
                    
                    <div class="input-group mb-3">
                        {{ form.email }}
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary btn-block">Send Password Reset Email</button>
                        </div>
                    </div>
                </form>

                <p class="mt-3 mb-1">
                    <a href="{% url 'user-login' %}">Back to Login</a>
                </p>
                <p class="mb-0">
                    <a href="{% url 'developer-contact' %}" class="text-center">Contact Developer</a>
                </p>
            </div>
        </div>
    </div>
</div>

{% endblock mainbody %}