{% extends 'src/base.html' %}
{% block title %} User - Change Password {% endblock title %}
{% block main_content %}

    </br>
      <div class="card text-white bg-info">
        <div class="card-header">Change user password</div>
        <div class="card-body">
        {% comment %} <div class="container">{% include 'src/form_error.html' %}</div> {% endcomment %}

        <form action="{% url 'user-change-password' %}" method="POST">

            {% csrf_token %}
            
            <div class="form-group row">
              <label class="col-sm-2 col-form-label">User Name : </label>
              <div class="col-sm-10">{{custom_user.username}}</div>
            </div>

            <div class="form-group row">
              <label class="col-sm-2 col-form-label">User Type : </label>
              <div class="col-sm-10">{{custom_user.possition}}</div>
            </div>

            <div class="form-group row">
              <label class="col-sm-2 col-form-label">Current Password : </label>
              <div class="col-sm-10">
                {{form.old_password}}
              </div>
            </div>

            <div class="form-group row">
              <label class="col-sm-2 col-form-label">New Password : </label>
              <div class="col-sm-10">
                {{form.new_password1}}
              </div>
            </div>

            <div class="form-group row">
              <label class="col-sm-2 col-form-label">Reenter Password : </label>
              <div class="col-sm-10">
                {{form.new_password2}}
              </div>
            </div>

            <div class="form-group row">
              <label class="col-sm-2 col-form-label"></label>
              <div class="col-sm-10"><button type="submit" class="btn btn-light">Update</button>
            </div>
    </div>
  </form>
</div>
</div>
</div>

{% endblock main_content %}